.c-language-switcher {
  position: relative;
  padding-inline-end: 24px;
  color: var(--primary-text);
  display: flex;
  align-items: center;

  & form { 
    display: flex;
    align-items: center;
  }

  &__list {
    background: transparent;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
    color: var(--primary-text);
    text-transform: uppercase;
    border: none;
    outline: none;
    width: auto;
    max-width: 100%;
    appearance: none;
    padding: 0;
    height: fit-content;

    & option {
      background-color: var(--secondary-background);
      color: var(--secondary-text);
      padding: 2px 4px;
      text-align: center;
    }

    &:focus {
      &+svg {
        transform: rotate(-180deg) translateY(50%);
      }
    }
  }

  & svg {
    color: inherit;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s all;
  }
}